<div class="d-flex flex-column my-4">
    <div class="alert alert-warning" th:if="${!optimization.isDone()}">
        The optimization is still running!
    </div>
    <div class="alert alert-success" th:if="${optimization.isDone()}">
        <h5 class="alert-heading">
            The optimization has finished running.
        </h5>
        <p>
            Total simulations run: <span th:text="${optimization.getTotalSimulationCount()}"></span>
        </p>
        <p>
            Total simulations failed: <span th:text="${optimization.getFailedSimulationCount()}"></span>
        </p>
    </div>
</div>
<div class="card my-4"
     th:if="${optimization.getBestExecutionTimeSimulation().isPresent()}"
     th:with="simulation=${optimization.getBestExecutionTimeSimulation().get()},result=${simulation.getResult().get()}">
    <h5 class="card-header">Best execution time</h5>
    <div class="card-body">
        <p>
            <span th:text="${simulation.getId()}"></span>
        </p>
        <p>
            Execution time: <span th:text="${result.getExecutionTime()}"></span> ms
        </p>
        <p>
            Total cost: <span th:text="${result.getTotalCost()}"></span>
        </p>
        <p>
            Total energy consumption: <span th:text="${result.getTotalEnergyConsumption()}"></span>
        </p>
    </div>
</div>

<div class="card my-4"
     th:if="${optimization.getBestCostSimulation().isPresent()}"
     th:with="simulation=${optimization.getBestCostSimulation().get()},result=${simulation.getResult().get()}">
    <h5 class="card-header">Best cost</h5>
    <div class="card-body">
        <p>
            <span th:text="${simulation.getId()}"></span>
        </p>
        <p>
            Execution time: <span th:text="${result.getExecutionTime()}"></span> ms
        </p>
        <p>
            Total cost: <span th:text="${result.getTotalCost()}"></span>
        </p>
        <p>
            Total energy consumption: <span th:text="${result.getTotalEnergyConsumption()}"></span>
        </p>
    </div>
</div>

<div class="card my-4"
     th:if="${optimization.getBestEnergySimulation().isPresent()}"
     th:with="simulation=${optimization.getBestEnergySimulation().get()},result=${simulation.getResult().get()}">
    <h5 class="card-header">Best energy consumption</h5>
    <div class="card-body">
        <p>
            <span th:text="${simulation.getId()}"></span>
        </p>
        <p>
            Execution time: <span th:text="${result.getExecutionTime()}"></span> ms
        </p>
        <p>
            Total cost: <span th:text="${result.getTotalCost()}"></span>
        </p>
        <p>
            Total energy consumption: <span th:text="${result.getTotalEnergyConsumption()}"></span>
        </p>
    </div>
</div>
