<th:block th:each="simulation : ${simulations}">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Simulation <span th:text="${simulation.getId()}"></span> - <span
                    th:text="${simulation.getStatus()}"></span>
            </div>
            <div class="card-body">
                <p class="card-text" th:unless="${simulation.getResult().isPresent()}">
                    No simulation details...
                </p>
                <div class="row" th:if="${simulation.getResult().isPresent()}"
                     th:with="result=${simulation.getResult().get()}">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            <code th:text="${result.getResultDirectory()}"></code>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                Execution time (ms)
                            </div>
                            <div class="card-body">
                                <p class="card-body" th:text="${result.getExecutionTime()}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                Total cost
                            </div>
                            <div class="card-body">
                                <p class="card-body" th:text="${result.getTotalCost()}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                Total energy consumption
                            </div>
                            <div class="card-body">
                                <p class="card-body" th:text="${result.getTotalEnergyConsumption()}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Log in accordion-->
                    <div class="col-12 my-4">
                        <div class="accordion" id="logAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        Logs
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#logAccordion">
                                    <div class="accordion-body">
                                        <pre><code th:text="${result.getLogs()}"></code></pre>
                                    </div>
                                </div>
                                <!-- Errors if exists -->
                                <div class="accordion-item" th:if="${result.getException() != null}">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="true"
                                                aria-controls="collapseTwo">
                                            Error - <span th:text="${result.getErrorMessage()}"></span>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show"
                                         aria-labelledby="headingTwo"
                                         data-bs-parent="#logAccordion">
                                        <div class="accordion-body">
                                            <pre><code th:text="${result.getErrorStackTrace()}"></code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</th:block>
