<th:block th:each="simulation : ${simulations}">
    <li th:id="${simulation.getId()}" class="list-group-item d-flex justify-content-between">
        <div>
            Simulation <span th:text="${simulation.getId()}" class="fw-bold"></span>
        </div>
        <div>
            <div class="d-inline-flex gap-2 justify-content-center flex-wrap my-2"
                 th:if="${simulation.getResult().isPresent()}"
                 th:with="result=${simulation.getResult().get()}">
                <span class="badge text-bg-primary"><span th:text="${result.getExecutionTime()}"></span> ms</span>
                <span class="badge text-bg-success"><span th:text="${result.getTotalCost()}"></span> cost</span>
                <span class="badge text-bg-info"><span
                        th:text="${result.getTotalEnergyConsumption()}"></span> energy</span>
            </div>
            <span th:if="${simulation.getResult().isPresent() && simulation.getResult().get().getErrorMessage() != null}"
                  class="badge text-bg-danger">Failed</span>
            <span th:text="${simulation.getStatus()}"></span>
        </div>
    </li>
    <li class="list-group-item" th:if="${simulation.getResult().isPresent()}">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#collapse-log-' + ${simulation.getId()}"
                            aria-expanded="true"
                            th:aria-controls="'collapse-log-' + ${simulation.getId()}">
                        Logs
                    </button>
                </h2>
                <div th:id="'collapse-log-' + ${simulation.getId()}"
                     class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <pre><code th:text="${simulation.getResult().get().getLogs()}"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item"
        th:if="${simulation.getResult().isPresent() && simulation.getResult().get().getErrorMessage() != null}">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#collapse-error-' + ${simulation.getId()}"
                            aria-expanded="true"
                            th:aria-controls="'collapse-error-' + ${simulation.getId()}">
                        Error - <span th:text="${result.getErrorMessage()}"></span>
                    </button>
                </h2>
                <div th:id="'collapse-error-' + ${simulation.getId()}"
                     class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <pre><code th:text="${result.getErrorStackTrace()}"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
</th:block>
